<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>

        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

        <link href="styles/min.css" media="all" rel="stylesheet" type="text/css">

        <style>
            html {
                font-family: 'Roboto', 'Arial', sans-serif;
                font-size: 14px;
            }
            .content {
                height: 2000px;
            }
        </style>

        <!-- 1. Load webcomponents.min.js for polyfill support. -->
        <script src="javascript/min.js"></script>

        <!-- 2. Use an HTML Import to bring in the element. -->
        <link rel="import" href="/bower_components/font-roboto/roboto.html">
        <link rel="import" href="/bower_components/core-scaffold/core-scaffold.html">
        <link rel="import" href="/bower_components/core-header-panel/core-header-panel.html">
        <link rel="import" href="/bower_components/core-toolbar/core-toolbar.html">
        <link rel="import" href="/bower_components/core-menu/core-menu.html">
        <link rel="import" href="/bower_components/core-item/core-item.html">
        <link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
        <link rel="import" href="/bower_components/tsj4-bb-template-loader/tsj4-bb-template-loader.html">
    </head>

    <!-- use fullbleed attribute to specify the body should fill the viewport -->
    <body unresolved fullbleed layout>
        <tsj4-bb-template-loader></tsj4-bb-template-loader>
        <core-scaffold>
            <core-header-panel navigation flex mode="seamed">
                <core-toolbar>MENU</core-toolbar>
                <core-menu theme="core-light-theme"></core-menu>
            </core-header-panel>
            <core-header-panel main mode="waterfall-tall">
                <core-toolbar id="mainheader">
                    <paper-icon-button id="navicon" icon="menu"></paper-icon-button>
                    <div flex>Title</div>
                    <paper-icon-button id="navicon" icon="search"></paper-icon-button>
                </core-toolbar>
                <div class="content"></div>
            </core-header-panel>
        </core-scaffold>
    </body>
</html>
