<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>

        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

        <link href="styles/min.css" media="all" rel="stylesheet" type="text/css">

        <style>
            html {
                font-family: 'Roboto', 'Arial', sans-serif;
                font-size: 14px;
            }
            .content {
                height: 2000px;
            }

            /* background for toolbar when it is condensed */
            core-drawer-panel:not([narrow]) #navicon{
                display:none;
            }

            [drawer] {
                background-color: lightgray;
            }

            [main] {
                background-color: white;
            }

        </style>

        <!-- 1. Load webcomponents.min.js for polyfill support. -->
        <script src="javascript/min.js"></script>

        <!-- 2. Use an HTML Import to bring in the element. -->
        <link rel="import" href="/bower_components/font-roboto/roboto.html">
        <link rel="import" href="/bower_components/core-drawer-panel/core-drawer-panel.html">
        <link rel="import" href="/bower_components/core-header-panel/core-header-panel.html">
        <link rel="import" href="/bower_components/core-toolbar/core-toolbar.html">
        <link rel="import" href="/bower_components/core-menu/core-menu.html">
        <link rel="import" href="/bower_components/core-item/core-item.html">
        <link rel="import" href="/bower_components/core-icon/core-icon.html">
        <link rel="import" href="/bower_components/paper-item/paper-item.html">
        <link rel="import" href="/bower_components/paper-button/paper-button.html">
        <link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
        <link rel="import" href="/bower_components/core-animated-pages/core-animated-pages.html">
        <link rel="import" href="/bower_components/tsj4-bb-template-loader/tsj4-bb-template-loader.html">
    </head>

    <!-- use fullbleed attribute to specify the body should fill the viewport -->
    <body unresolved fullbleed layout>
        <tsj4-bb-template-loader></tsj4-bb-template-loader>
        <template id="template"  is="auto-binding">
            <core-drawer-panel id="drawerPanel">
                <core-header-panel drawer mode="seamed">
                    <core-toolbar>MENU</core-toolbar>
                    <template repeat="{{page in pages}}">
                        <core-menu valueattr="hash" selected="{{route}}">
                            <paper-item hash="{{page.hash}}">{{page.label}}</paper-item>
                        </core-menu>
                    </template>
                </core-header-panel>
                <core-header-panel main mode="waterfall-tall">
                    <core-toolbar>
                        <paper-icon-button id="navicon" icon="menu"></paper-icon-button>
                        <div flex>Title</div>
                        <paper-icon-button id="search-button" icon="search"></paper-icon-button>
                    </core-toolbar>
                    <core-animated-pages valueattr="hash" selected="{{route}}" transitions="slide-from-right">
                        <template repeat="{{page in pages}}">
                            <section hash="{{page.hash}}" layout vertical center-center>
                                <div>{{page.label}}</div>
                            </section>
                        </template>
                    </core-animated-pages>
                </core-header-panel>
            </core-drawer-panel>
        </template>
    </body>
</html>
